#menu.slideout-menu.slideout-closed
  .flexbox
    nav
      h4 Pages
      a(href='{{ site.url }}') Home
      a(href='{{ site.url }}/about.html') About
      // a(href='{{ site.url }}/archives.html') Archives
      h4 Categories
      a(href='{{ site.url }}/categories/education.html') Education
      a(href='{{ site.url }}/categories/professional.html') Professional
      a(href='{{ site.url }}/categories/personal.html') Personal



    div.details
      b {{site.title}}
      p  
        | A minimal Jekyll theme with all the basics. Designed by 
        a Nina,
        | free on 
        a Github
