---
layout: default
title: About
---

<!-- I prefer to write in Jade. If you don't, feel free to just write in Vanilla HTML and remove the following liquid tag ... -->


<!-- ... and write that Vanilla HTML right here. -->


<div class='xs-12 topBar hidden'>
  <p>{{ page.title }}</p>
</div>

<div class="xs-12 imgBack textCenter vertCenter banner" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.baseurl }}/assets/img/relax.jpg)'></div>

<div class='divider xs-12 topBarTrigger'></div>

<div class='post-wrap flexbox-contain column'>

  <!-- Tell people something unique about you... -->
  <h1 class='textCenter'>About</h1>
  <p class='big textCenter'><b class='accent'> Coffee hour with Sara</b></p>

  <p>Sara Lin is a self-taught web designer and developer who works in behavioral health services. Sara will be studying at Columbia University as an occupational therapy student in the fall. </p>

  <!-- List you associated sites and social medias... 
  <div class='flexbox-contain this justify-around icon-container'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/twitter.svg'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/behance.svg'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/facebook.svg'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/Github.svg'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/Google-Plus.svg'>
    <img class='social-media' src='{{ site.baseurl }}/assets/img/icons/youtube.svg'>
  </div> -->

  <ul class="social_footer">
    {% if site.spotify_url %}
    <li><a href="{{ site.spotify_url }}" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.soundcloud_url %}
    <li><a href="{{ site.soundcloud_url }}" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.apple_url %} 
    <li><a href="{{ site.apple_url }}" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
    {% else %} 
    <li><a href="#" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
    {% endif %} 
    {% if site.google_url %}
    <li><a href="{{ site.google_url }}" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>      
    {% endif %}
    {% if site.amazon_url %}
    <li><a href="{{ site.amazon_url }}" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.instagram_url %}
    <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    {% endif %}
    <!-- {% if site.twitter_url %}
    <li><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% else %}
    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% endif %} -->
  </ul>


</div>
