<footer>
    <div class="full-container">
        <div class="row">
            <div class="col-sm-4 credit_tag">
                <a href="{{ site.baseurl }}"><strong class="big">{{ site.title }}</strong></a>
                <p>© 2020. Powered by <a href="https://github.com/Amava-Lin">GitHub</a>.</p>
            </div>
            <div class="col-sm-8">
                <ul class="social_footer">
                    <li class="socials">
                        <a href="https://www.linkedin.com/in/sara-lin-77918852/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="socials">
                        <a href="https://www.instagram.com/daftography/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="socials">
                        <a href="https://github.com/Amava-Lin" target="_blank">
                            <i class="fa fa-git-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>