<div id="menu" class="slideout-menu slideout-closed">
<div class="flexbox">
    <nav>
        <h4>Pages</h4>
        <a href="{{ site.baseurl }}/ ">Home</a>
        <a href="{{ site.baseurl }}/about.html">About</a>
        <!-- a(href='{{ site.baseurl }}/archives.html') Archives -->
        
        <h4>Categories</h4><a href="{{ site.baseurl }}/education/2012/11/09/education.html ">Education</a>  <!-- /categories/education.html --> 
        <a href="{{ site.baseurl }}/professional/2020/05/20/work-experience.html ">Professional</a>  <!-- categories/professional.html --> 
        <a href="{{ site.baseurl }}/categories/personal.html">Personal</a>
    </nav>
    <div class="details">
        <b>{{ site.title }}</b>
        <p style=font-size:0.9em>© 2020 MIT License. Powered by <a href="https://github.com/Amava-Lin">Github</a>.</p>
    </div>
</div></div>