<div id="menu" class="slideout-menu slideout-closed"><div class="flexbox">
    <nav>
    <h4>Pages</h4>
        <a href="{{ site.baseurl }}">Home</a>
        <a href="{{ site.baseurl }}/about.html">About</a> 
        <!-- <a href="{{ site.baseurl }}/archives.html">Archives</a> --> 
    <h4>Categories</h4>
        <a href="{{ site.baseurl }}/categories/education.html">Education</a>
        <a href="{{ site.baseurl }}/categories/professional.html">Professional</a>
        <a href="{{ site.baseurl }}/categories/personal.html">Personal</a></nav>
<div class="details"><b>{{ site.title }}</b>
<p>© 2020 under MIT License terms. Repository on <a href ="https://github.com/Amava-Lin/Artist-Theme" target="_blank">Github</a>.</p></div>
</div></div>