footer
  background: $dark
  color: white

  div
    background: $dark
    padding: 0.5em 0

  div.credit_tag
    display: flex
    flex-direction: column
    justify-content: center
    float: left
    padding-left: 50px
    a
      color: $primary
    p
      font-size: 0.9em

  ul.social_footer
    float: right
    padding-right: 50px
    text-align: center
    padding: 0 0 0.5em 0
    margin: 0.4em 1em
    text-decoration: none
    font-size: 2.5em

    li.socials
      display: inline-block
      padding: 0em 0.25em
    a
      color: white
      &:hover 
        color: $primary
